/* Search.css */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
}

.search-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.search-container {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.search-container h2 {
  text-align: center;
  margin-bottom: 10px;
}

.search-container p {
  text-align: center;
  margin-bottom: 20px;
}

.search-container form {
  display: flex;
  flex-direction: column;
}

.search-container input {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

.search-container button {
  width: 150px; /* Set button width */
  margin-left: auto; /* Align button to the right */
  margin-right: auto; /* Align button to the right */
  padding: 10px;
  background-color: #28a745; /* Green color */
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s; /* Transition properties */
}

.search-container button:hover {
  background-color: #218838; /* Darker green on hover */
}

.searchbtn button {
  text-align: center;
  margin-top: 10px;
  width: 100%;
}
